<div class="bg--black theme--light">

  <div class="banner">
    <div class="banner__container">
      <div class="banner__left">
        <div class="row row--match-height">
          <div class="col col--6">
            <div class="img img--1-1 banner__image rounded--xxxl" style="background-image: url({{site.img}}/{{page.id}}/banner-1.jpg);"></div>
            <div class="space--lg"></div>
            <div class="img img--1-1 banner__image rounded--xxxl" style="background-image: url({{site.img}}/{{page.id}}/banner-2.jpg);"></div>
          </div>
          <div class="col col--6">
            <div class="img img--1-1 banner__image rounded--xxxl" style="background-image: url({{site.img}}/{{page.id}}/banner-3.jpg);"></div>
            <div class="space--lg"></div>
            <div class="img img--1-1 banner__image rounded--xxxl" style="background-image: url({{site.img}}/{{page.id}}/banner-4.jpg);"></div>
          </div>
        </div>
      </div>



      <div class="banner__center">
        <div class="banner__center-inner">

        <div class="banner__video rounded--xxxl" style="background-image: url({{site.img}}/{{page.id}}/banner-video.jpg);">
          <a href="javascript:void(0);" class="banner__video-link js-open-modal" data-open-modal="video">
            <div class="banner__video-btn"></div>
          </a>
        </div>

        <div class="banner__window">
          {% include page/window-svg.html %}
        </div>
        </div>
      </div>



      <div class="banner__right">
        <div class="row row--match-height">
          <div class="col col--6">
            <div class="img img--1-2 img--tall rounded--xxxl" style="background-image: url({{site.img}}/{{page.id}}/banner-5.jpg);"></div>
          </div>
          <div class="col col--6">
            <div class="img img--1-1 banner__image rounded--xxxl" style="background-image: url({{site.img}}/{{page.id}}/banner-6.jpg);"></div>
            <div class="space--lg"></div>
            <div class="img img--1-1 banner__image rounded--xxxl" style="background-image: url({{site.img}}/{{page.id}}/banner-7.jpg);"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container vpad--lg text--center">
    {{page.banner.title}}
    <div class="width width--xl space--sm">
    {{page.banner.content}}
    </div>
    <div class="space--xl"></div>
  </div>

</div>