---
layout: default
id: welcome-video
locale: de


title: Unsere Hotels freuen sich auf Sie!


banner:
  title: >
    <h1 class="h h--xl">Unsere Hotels freuen sich auf Sie!</h1>
  content: >
    <p class="p--xxl">Endlich können wir wieder reisen - vor allem unsere Hotelpartner können es kaum erwarten, Sie als Gäste zu begrüßen. In unserem Video haben wir Hotels, Kollegen und Freunde befragt, um herauszufinden, was alle am meisten vermisst haben und wie sich die Unterkünfte mit der neuen Situation arrangiert haben, um Ihnen bei Ihrem Aufenthalt Sicherheit zu bieten. </p>
    <div class="space--md"></div>
    <a href="javascript:void(0);" class="btn btn--lg js-play-video">Jetzt ansehen</a>



deals-banner:
  title: Entdecken Sie jetzt unsere stornierbaren Angebote
  link: https://www.secretescapes.de/stornierbar/filter
  cta: Zu den Angeboten


---


{% include nav/header.html %}
{% include page/banner.html %}

<div class="hideApp">

<div class="bg--grey-lightest vpad--xxl">
<div class="container">

  <div class="row row--6-6">
  {% for offer in site.data.offers %}
    <div class="col">
      {% include offer/offer.html%}
    </div>
  {% endfor %}
  </div>

  <div class="space--lg"></div>
  {% include page/promo-offers.html %}

</div> <!-- /.container -->
</div> <!-- /.bg--grey-lightest -->

{% include nav/footer.html %}

</div><!-- /.hideApp -->