// the title banner that appears at the top of every page. sometimes animated bgs

.banner {
  @include page-padding;
  position: relative;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
  color: $white;
  .fromApp & { padding-top: $s4; }

  &__container {
    position: relative;
    @include bp($xxxxl){
      width: 100%;
    }
  }

  &__left,
  &__right {
    display: none
  }
  &__center {
    @include transition;
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-inner {
      width: 100%;
      position: relative;
      align-items: center;
      justify-content: center;
      display: flex;
      @include bp($lg){
        &:before {
          content: "";
          display: block;
          width: 100%;
          padding-top: 66.49240727%;
        }
      }
    }
  }

  @include bp($xl){
    &__left,
    &__right {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 20%;
      min-width: 368px;
      opacity: 1;
      .video-playing & { opacity: 0.5; }
    }
    &__left { right: 50%; margin-right: 362px; }
    &__right { left: 50%; margin-left: 362px; }
    &__center {
      position: relative;
      z-index: 10;
      margin: auto;
      width: 50%;
      min-width: 720px;
      max-width: 960px;
      @include page-padding;
      .video-playing & { width: 75%; }
    }
  }

  @include bp($xxxxl){
    &__left,
    &__right {
      @include transition;
      position: absolute;
      width: 25%;
      min-width: 25%;
      margin: 0;
    }
    &__left { left: 0; right: auto; margin: 0; }
    &__right { right: 0; left: auto; margin: 0; }
    &__center {
      position: relative;
      margin: auto;
      width: 50%;
      min-width: 50%;
      max-width: 1080px;
      .video-playing & { width: 100%; }
    }
  }


  // Video
  &__play {
    @include background-attributes;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    border: 4px solid $white;
    @include bp($lg){
      position: absolute;
      top: 50%; left: 50%;
      transform: translateY(-50%) translateX(-50%);
      z-index: 10;
      width: 59.98930948%;
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 56.25%;
      @include bp($lg){
        padding-top: 100%;
      }
    }
    &-link {
      position: absolute;
      z-index: 10;
      top: 0; left: 0;
      right: 0; bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-btn {
      width: 50%;
      max-width: 80px;
      background-image: url('../img/icons/play.svg');
      @include background-attributes;
      &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 100%;
      }
    }
  }


  &__window {
    display: none;
    @include bp($lg){
      display: block;
      position: absolute;
      top: 0; left: 0;
      right: 0; bottom: 0;
      width: 100%;
      z-index: 0;

      & svg {
        position: absolute;
        top: 0; left: 0;
      }
      &-path {
        fill: none;
        stroke:#FFFFFF;
        stroke-width:1.5;
        stroke-miterlimit:10;
        stroke-linecap:round;
        stroke-linejoin:round;
        // stroke-dasharray: 10000;
        // stroke-dashoffset: 10000;
        body.animate & {
          animation: dash 3s linear forwards;
        }
      }
      @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }


  &__video {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    display: none;
    box-shadow: 0 0 60px 10px $black;
  }

}



